@import url('https://fonts.googleapis.com/css2?family=DotGothic16:wght@400;700&display=swap');

:root {
    font-family: 'DotGothic16', sans-serif;
    --main-color: black;
    --accent-color: rgb(50, 206, 211);
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 980px;
    margin: auto;
}

.logo,
header .banner h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
    color: var(--main-color);
    text-align: center;
}

.burger-icon {
    font-size: 3rem;
}

.burger-icon:hover {
    cursor: pointer;
}

#burger-checkbox {
    display: none;
}

header .menu {
    list-style-type: none;
    display: none;
}

header input:checked ~ .menu {
    display: flex;
}

header .menu {
    flex-direction: column;
}

header .menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    padding: 3px;
}

header .menu a:hover {
    font-weight: bold;
}

@media (min-width: 480px) {

    header nav {
        display: flex;
    }

    header .burger-icon {
        display: none;
    }

    header .menu {
        display: flex;
        justify-content: space-around;
        flex: 1;
        align-items: center;
        flex-direction: row;
    }

}

header .banner {
    background-image: url(../img/baby-yoda.svg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



header .banner h1 {
    color: var(--accent-color);
}

@media (min-width: 640px) {

    .product-list {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 1fr;
    }

}

@media (min-width: 800px) {

    .product-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

@media (min-width: 980px) {

    .product-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

.product-list article {
    border: 1px solid black;
    padding: 5px;
}

.product-list article img {
    display: block;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: space-around;
}


/* Controls */

.button {
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: #FFFFFF;
    text-align: center;
    transition: color 0.7s;
    background-color: transparent;
}

.button:hover {
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer;
}

.card-button {
    border-color: black;
    color: black;
}

.card-button:hover {
    background-color: black;
    color: white;
}